.rd3t-label__title {
    display: none;
}

.node__root>circle {
    fill: red;
}

#tree-wrapper {
    text-decoration:none;
    position:relative;
}

#tree-wrapper #tooltip {
    display:none;
    position:fixed;
    overflow:hidden;
}