.cell {
    font-size: 20px;
    display: flex;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: space-around
}

.row {
    display: flex;
    flex-direction: row;
}

.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.settings-div {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

nav {
    height: 60px;
    width: 100vw;
    background-color: brown;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f0dc82;
    font-size: 50px;

}

.unclickable {
    pointer-events: none
}