.puzzle-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #f0dc82;
    border: 2px solid brown;
  }
  
  .puzzle-row {
    display: flex;
    height: calc(300px / 3);
  }
  
  .puzzle-square {
    display: flex;
    width: calc(300px / 3);
    box-sizing: border-box;
    background-color: #fff1c1;
    border: 2px solid brown;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  }

  .blank-tile {
    display: flex;
    width: calc(300px / 3);
    opacity: 0;
  }