.chakra-modal__header {
    background-color: brown;
    border-radius: 6px 6px 0 0;
    color: #f0dc82;
}

.tutorial-modal-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tutorial-modal-body .puzzle-container {
    width: 200px;
    height: 200px;
}

.tutorial-text-1 {
    font-size: 28px;
    font-weight: bold;
}

.mouse-pointer {
    position: relative;
    top: 75px;
    left: -25px;
}

